 /* Contact */
 
.contact  {
    padding-top: 100px;
}

.info-box {
  color: #444444;
  padding: 20px;
  width: 100%;
  background: rgba(255, 255, 255, 0.08);
}

.info-box h3 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  margin: 10px 0 8px 68px;
}

.info-box p {
  padding: 0;
  color: $white;
  line-height: 24px;
  font-size: 14px;
  margin: 0 0 0 68px;
}

.info-box .social-links {
  margin: 5px 0 0 68px;
  display: flex;
}

.info-box .social-links a {
  font-size: 18px;
  display: inline-block;
  color: $white;
  line-height: 1;
  margin-right: 12px;
  transition: 0.3s;
}

.info-box .social-links a:hover {
  color: $primary;
}

.contact__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 20px;
    margin-right: 2px;
    // padding-top: 9px;
    fill: $white;
    transition: fill .2s linear;
    &:hover {

      fill: $primary;
    }
}


.contact .php-email-form {
  padding: 30px;
  background: rgba(255, 255, 255, 0.1);
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  background: $primary;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid $primary;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.19);
  border: 0;
  transition: 0.3s;
  color: $white;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  background-color: rgba(255, 255, 255, 0.11);
}

.contact .php-email-form input::-webkit-input-placeholder, .contact .php-email-form textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .php-email-form input::-moz-placeholder, .contact .php-email-form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .php-email-form input:-ms-input-placeholder, .contact .php-email-form textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .php-email-form input::-ms-input-placeholder, .contact .php-email-form textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .php-email-form input::placeholder, .contact .php-email-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .php-email-form input {
  padding: 20px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: $primary;
  border: 0;
  padding: 10px 30px;
  color: $white;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: $primary-light;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.gmap {
  opacity: .7;
  transition: opacity .5s linear;
  &:hover {
    opacity: .8;
  }
}

.box__icon {
    fill: $white;
    width: 50px;
    height: 50px;
    padding: 14px;
    display: flex;
    justify-content: center;
    background: #000;
    border-radius: 50%;
}

.contact-link {
    color: $white;
    margin-left: 68px;
    transition: color .1s linear;
    &:hover {
        text-decoration: none;
    }

}

